# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
myenv/
venv/
.env/

# Environment variables
.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log


